
ul{
  list-style:none;
  width: 600px;
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
}
ul:after {
  content: "";
  display: block;
  clear: both;
}
li{

  background-color: silver;
  float: left;
  padding: 10px;
  text-align: center;
  margin-left:70px;
  width: 80px;
  border-radius: 2px;
}
ul:last-child{
  float:none;
}
li:hover{
  cursor: default;
  color: white;
  background-color: darkgray;
}
