
li{

  background-color:darkgray;
  margin: 10px 10px;
  list-style: none;
  height: 30px;
  width: 100px;
  text-align: center;
  float: left;
  border-radius: 5px;
  vertical-align: middle;
  display: inline;

}
ul{
  margin-bottom: 50px;
}
li:hover{

  color: darkslategrey;
  background-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}
