
<div class="operation__item">
<div class="row-1 row">
  <div class="col-1 col">
  <div class="category__item">
    <span>Категория: </span>
    {{item.type}}
  </div>
  </div>
  <div class="col-2 col">
  <div class="place__item">
    <span>Место: </span>
    {{item.place}}
  </div>
  </div>
  <div class="col-3 col">
  <div class="time__item">
   <div class="date"> {{item.time.getDay()+'.'+item.time.getMonth()+'.'+item.time.getFullYear()}}</div>
    <div class="time"> {{item.time.getHours()+':'+item.time.getMinutes()+':'+item.time.getSeconds()}}</div>
  </div>
  </div>
</div>
  <div class="row-2 row">
    <div class="col-1 col">
  <div class="address__item">
    <span>Адрес операции</span>
  </div>
    </div>
    <div class="col-2 col">
  <div class="info-order__item">
    <span>Информация о покупке</span>
  </div>
    </div>
    <div class="col-3 col">
  <div class="price__item">
    <span>Цена: {{item.price}} р</span>
  </div>
    </div>
  </div>
</div>
