body{
  margin: 0;

}
.period__list{
  width: 700px;
  margin: 10px 50px 10px 100px;
}
.category__list{
  float: left;
  width:100px;
  position: fixed;
  margin: 0;
  height: 300px;


}
.operation__list{
  width: 700px;
  margin: 0px 20px 0 100px ;
  padding-top: 50px;
}
