body{
  margin: 0;

}
.period__list{
  width: 83%;
  margin: 10px 2% 10px 15%;
}
.category__list{
  float: left;
  width:15%;
  position: fixed;
  margin: 0;
  height: 300px;


}
.operation__list{
  width: 83%;
  margin: 10px 2% 0 15% ;
}
