body{
  margin: 0;
}
.period__list{
  width: 83%;
  border: solid 1px cadetblue;
  margin: 10px 2% 10px 15%;
}
.category__list{
  float: left;
  width:15%;
  position: fixed;
  margin: 0;

  border: solid 1px royalblue;
}
.operation__list{
  width: 83%;
  margin: 10px 2% 0 15% ;
  border: solid 1px darkviolet;
}
