

<div class="row">

  <div class="col-md-3">
    <div class="col-md-6">Категория:</div>
    <div class="col-md-6">{{categoryService.getNameCategoryById(item.type)}}</div>
  </div>
  <div class="col-md-3">
    <div class="col-md-4">Место:</div>
    <div class="col-md-8">{{item.place}}</div>
  </div>
  <div class="col-md-3">
      <div class="col-md-6">{{item.time.getDate()+'.'+(item.time.getMonth() + 1)+'.'+item.time.getFullYear()}}</div>
      <div class="col-md-6">{{item.time.getHours()+':'+item.time.getMinutes()+':'+item.time.getSeconds()}}</div>
   </div>
  <div class="col-md-3">
    <div class="col-md-4">Цена:</div>
    <div class="col-md-8">{{item.price}} </div>
  </div>
</div>

