.logout{
  position: absolute;
  right:5px;
  top:80px;
  width: 120px;
  background-color: silver;
  text-align: center;
  font-size: 0.9em;
  height: 30px;
  vertical-align:middle;
  padding: 0;
  border-radius: 2px;
}
p{
  margin:0;
}

.logout:hover{
  cursor: default;
  color: white;
  background-color: darkgray;


}
